<h1>Edit the item</h1>

<form action='/items/<%=@item.slug%>' method="POST">
  <input type="hidden" name="_method" value="patch">
  <label>Name</label>
  <br><br/>
  <input type="text" name="name" value="<%=@item.name%>"> 
  <br></br>
  <label>Collection</label>
  <br></br>
  <% Collection.all.each do |collection| %>
      <label><%= collection.name %></label>
      <input type="checkbox"  name="collection" value="<%= collection.id %>" <%='checked' if @item.collection == collection %>><br>

  <% end %>
  <label>Description</label>
  <br><br/>
  <input type="text" name="description" value="<%=@item.description%>"> 
  <br></br>
  <label>Pic</label>
  <input type="file" name="picture">
  <br></br>
  <input type="submit" value="submit">
</form> 

